{% extends '01_base/base.html' %}
{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-md-6">
                            <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-person-booth"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">Customers</h2>
                                <h3 class="mb-1">{{ costumers }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-md-6">
                            <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-fan"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">Employees</h2>
                                <h3 class="mb-1">{{ employees }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}