<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bem-vindo!</title>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer {
    text-align: center;
    margin-top: 20px;
  }
</style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>{{ titulo }}</h1>
    </div>
    <div class="content">
      <p>Prezado(a) {{ usuario }},</p>
      <p>{{ p1 }}</p>
      <p>{{ p2 }}</p>
      <p>{{ p3 }}</p>
    </div>
    <div class="footer">
      <p>Acesse o nosso Sistema através do seguinte link: <a href="">RECICLAGEM MORI</a>.</p>
      <p>Agradecemos por escolher a nossa plataforma e estamos ansiosos para vê-lo(a) prosperar e aproveitar ao máximo todos os benefícios que o nosso sistema tem a oferecer.</p>
      <p>Atenciosamente,<br>A Equipe RECICLAGEM MORI</p>
      <p>P.S.: Seja bem-vindo(a) à nossa comunidade!</p>
    </div>
  </div>
</body>
</html>