<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-papel">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-blue rounded">
                    <span class="fas fa-file"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Papel</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-vidro">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-soft-green rounded">
                    <span class="fas fa-glass-martini-alt"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Vidro</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-organico">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-primary rounded" style="background-color: #C4A484">
                    <span class="fas fa-apple-alt" style="color: #664141"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Orgânico</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-eletronico">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-gray rounded">
                    <span class="fas fa-car-battery"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Eletrônico</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-plastico">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-danger rounded">
                    <span class="fas fa-wine-bottle"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Plástico</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-metal">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-secondary rounded">
                    <span class="fas fa-wrench"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Metal</h5>
            </div>
        </div>
    </button>
</div>

<div class="modal fade" id="modal-papel" tabindex="-1" role="dialog" aria-labelledby="modal-papel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-blue">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Papel</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fa fa-file"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-plastico" tabindex="-1" role="dialog" aria-labelledby="modal-plastico" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Plástico</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fa fa-wine-bottle"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-organico" tabindex="-1" role="dialog" aria-labelledby="modal-organico" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #9a6e3a">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Orgânico</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fa fa-apple-alt"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-eletronico" tabindex="-1" role="dialog" aria-labelledby="modal-eletronico" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-gray">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Eletrônico</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fa fa-car-battery"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-vidro" tabindex="-1" role="dialog" aria-labelledby="modal-vidro" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-soft-green">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Vidro</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fa fa-glass-martini-alt"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-metal" tabindex="-1" role="dialog" aria-labelledby="modal-metal" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-warning">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Metal</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="modal-icon display-1-lg"><span class="fas fa-wrench"></span></span>
                    <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                    <p class="text-white">
                        Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



