<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-papel">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-blue rounded">
                    <span class="fas fa-file"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Papel</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-vidro">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-soft-green rounded">
                    <span class="fas fa-glass-martini-alt"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Vidro</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-organico">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-primary rounded" style="background-color: #C4A484">
                    <span class="fas fa-apple-alt" style="color: #664141"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Orgânico</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-madeira">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-black rounded">
                    <span class="fas fa-tree"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Madeira</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-plastico">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-danger rounded">
                    <span class="fas fa-wine-bottle"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Plástico</h5>
            </div>
        </div>
    </button>
</div>
<div class="col-md-2">
    <button class="btn btn-lg btn-light btn-block p-4 card-lift-hover" type="button" data-toggle="modal" data-target="#modal-metal">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <div class="icon icon-shape icon-md icon-shape-secondary rounded">
                    <span class="fas fa-wrench"></span>
                </div>
            </div>
            <div class="col-8">
                <h5 class="text-center">Metal</h5>
            </div>
        </div>
    </button>
</div>

<div class="modal fade" id="modal-papel" tabindex="-1" role="dialog" aria-labelledby="modal-papel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-blue">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Papel</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fa fa-file" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Papéis e Papelões</h2>
                    <p class="text-white ">
                        NÃO pode ser jogado aqui <br>
                        <span class="font-weight-bolder">papel higiênico, extratos bancários, guardanapos e lenços sujos, fotografias, etiquetas e fitas adesivas, papéis com parafina, revestido com cera e silicone, papel vegetal, celofane e carbono.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-plastico" tabindex="-1" role="dialog" aria-labelledby="modal-plastico" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Plástico</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fa fa-wine-bottle" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Sacolas, Frascos, Potes, Tubos de PVC e Embalagens PET</h2>
                    <p class="text-white">
                        NÃO pode ser jogado aqui <br>
                        <span class="font-weight-bolder">Cabos de panelas, Adesivos, Espuma, Acrílico, Embalagens metalizadas (Biscoitos e Salgadinhos).</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-organico" tabindex="-1" role="dialog" aria-labelledby="modal-organico" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #9a6e3a">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Orgânico</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fa fa-apple-alt" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Restos e Cascas de Alimentos</h2>
                    <p class="text-white">
                        NÃO pode ser jogado aqui <br>
                        <span class="font-weight-bolder">Produtos Químicos, Remédios, Poeira, Papéis higiênicos, Guardanapos sujos, Gorduras, Óleos, Graxa, Leite e derivados, Ossos, restos de carne, etc.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-madeira" tabindex="-1" role="dialog" aria-labelledby="modal-madeira" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-gray">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Madeira</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fa fa-tree" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Galhos de árvores, Caixas, Restos de Construção, Móveis, Artefatos e objetos, Palitos de dente</h2>
                    <p class="text-white">
                        Ao descartar madeira, retirar todos os pregos, parafusos ou metais cortantes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-vidro" tabindex="-1" role="dialog" aria-labelledby="modal-vidro" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-soft-green">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Vidro</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fa fa-glass-martini-alt" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Copos, Travessas, Frascos de Remédios e Perfumes</h2>
                    <p class="text-white">
                        NÃO pode ser jogado aqui <br>
                        <span class="font-weight-bolder">Lâmpadas, Tubos de TV, Cerâmicas, Porcelanas e Espelhos</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-metal" tabindex="-1" role="dialog" aria-labelledby="modal-metal" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-warning">
            <div class="modal-header">
                <p class="modal-title text-white" id="modal-title-notification">Metal</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center text-white">
                    <span class="fas fa-wrench" style="font-size: 30px"></span>
                    <h2 class="h4 modal-title my-3">Latas de alumínio, lacres e chapas</h2>
                    <p class="text-white">
                        NÃO pode ser jogado aqui <br>
                        <span class="font-weight-bolder">Clipes, grampos, esponjas de aço, aerossóis, latas de tinta ou verniz, solventes ou químicos, latas de inseticida, etc.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



