{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map-container {
            height: 400px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 20px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock extra_css %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            {% if user.morador_usuario %}
                                <h5>Mantenha suas informações sempre atualizadas</h5>
                                <p>Insira as suas informações abaixo</p>
                            {% else %}
                                <h5>Faça o seu cadastro para participar do projeto</h5>
                                <p>Insira as suas informações abaixo</p>
                            {% endif %}
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {% include '01_base/partials/erros.html' with errors=form.errors %}
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label>NOME</label>
                                <input class="form-control" type="text" value="{{ user.get_full_name|upper }}" disabled>
                            </div>
                            <div class="col-md-3">
                                <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label|upper }} <b style="color: red">*</b></label>
                                {{ form.cpf }}
                                {% if form.errors.cpf %}<div class="text-danger">{{ form.errors.cpf.as_text }}</div>{% endif %}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ form.dt_nascimento.id_for_label }}">{{ form.data_nascimento.label|upper }} <b style="color: red">*</b></label>
                                {{ form.data_nascimento }}
                                {% if form.errors.data_nascimento %}<div class="text-danger">{{ form.errors.data_nascimento.as_text }}</div>{% endif %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <label for="{{ form.genero.id_for_label }}">{{ form.genero.label|upper }} <b style="color: red">*</b></label>
                                {{ form.genero }}
                            </div>
                            <div class="col-md-4">
                                <label for="{{ form.telefone_1.id_for_label }}">{{ form.telefone_1.label|upper }}
                                    <small>{{ form.telefone_1.help_text }}</small>
                                    <b style="color: red">*</b>
                                </label>
                                {{ form.telefone_1 }}
                                {% if form.errors.telefone_1 %}<div class="text-danger">{{ form.errors.telefone_1.as_text }}</div>{% endif %}
                            </div>
                            <div class="col-md-4">
                                <label for="{{ form.telefone_2.id_for_label }}">{{ form.telefone_2.label|upper }}</label>
                                {{ form.telefone_2 }}
                                {% if form.errors.telefone_2 %}<div class="text-danger">{{ form.errors.telefone_2.as_text }}</div>{% endif %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <label for="{{ form.cep.id_for_label }}">{{ form.cep.label|upper }} <b style="color: red">*</b></label>
                                {{ form.cep }}
                            </div>
                            <div class="col-md-4" id="js-ajax-municipio" data-municipio-url="{% url 'ajax_municipios_data_todos' %}">
                                <label for="{{ form.estado.id_for_label }}">ESTADO/UF <b style="color: red">*</b></label>
                                {{ form.estado }}
                            </div>
                            <div class="col-md-4">
                                <label for="{{ form.municipio.id_for_label }}">{{ form.municipio.label|upper }} <b style="color: red">*</b></label>
                                <div>
                                    <select class="form-control" id="id_municipio" name="municipio" required>
                                        <option>Selecione uma opção</option>
                                    </select>
                                </div>
                                {% if form.municipio.errors %}<div class="text-danger">{{ form.municipio.errors.as_text }}</div>{% endif %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label for="{{ form.logradouro.id_for_label }}">{{ form.logradouro.label|upper }} <b style="color: red">*</b></label>
                                {{ form.logradouro }}
                                {% if form.logradouro.errors %}<div class="text-danger">{{ form.logradouro.errors.as_text }}</div>{% endif %}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.complemento.id_for_label }}">{{ form.complemento.label|upper }}</label>
                                {{ form.complemento }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label for="{{ form.latitude.id_for_label }}">{{ form.latitude.label|upper }} ({{ form.latitude.help_text }}) <b style="color: red">*</b></label>
                                {{ form.latitude }}
                                {% if form.latitude.errors %}<div class="text-danger">{{ form.latitude.errors.as_text }}</div>{% endif %}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.longitude.id_for_label }}">{{ form.longitude.label|upper }} ({{ form.longitude.help_text }}) <b style="color: red">*</b></label>
                                {{ form.longitude }}
                                {% if form.longitude.errors %}<div class="text-danger">{{ form.longitude.errors.as_text }}</div>{% endif %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h5 class="mb-0">Selecione no mapa a localização da sua casa.</h5>
                                <div id="map-container">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <button class="btn btn-primary float-right">
                                    <i class="fa fa-save"></i> SALVAR DADOS
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'assets/js/plugins/jquery-mask/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/js/mask.js' %}"></script>
    <script>
        $(document).ready(function () {
            {#$('.js-select2').select2();#}

            var municipio = $('#id_municipio');

            {% if not form.errors %}municipio.prop( 'disabled', true );{% endif %}

            $( "#id_cep" ).keyup(function() {
                if (this.value.length >= 8) {
                    const url = `https://viacep.com.br/ws/${this.value}/json/`;
                    recupera_dados_via_cep(url)
                }
            });

            if ($('#id_cep').val().length >= 8) {
                const url = `https://viacep.com.br/ws/${$('#id_cep').val()}/json/`;
                recupera_dados_via_cep(url)
            }

            function recupera_dados_via_cep(url) {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if ('erro' in data) {
                            alert('Erro ao buscar CEP');
                            document.getElementById('id_estado').removeAttribute('readonly', true);
                            document.getElementById('id_logradouro').removeAttribute('readonly', true);
                            document.getElementById('id_complemento').removeAttribute('readonly', true);
                        } else {
                            id_uf = data.ibge.substr(0, 2)
                            document.getElementById('id_estado').value = id_uf;
                            document.getElementById('id_logradouro').value = data.bairro + ', ' + data.logradouro;
                            if (!document.getElementById('id_complemento').value){
                                document.getElementById('id_complemento').value = data.complemento;
                            }
                            recupera_municipios(id_uf, function () {
                                document.getElementById('id_municipio').value = data.ibge;
                            });
                        }
                    })
                    .catch(error => {
                        console.error(`Erro ao buscar CEP: ${error}`);
                    });
            }

            $(document).on('change', '#id_estado', function() {
                id_estado = $(this).val();
                recupera_municipios(id_estado, function() {});
            });

            function recupera_municipios(estados, callback) {
                var url = $("#js-ajax-municipio").attr("data-municipio-url");
                $.ajax({
                    url: url,
                    data: {
                        'estados': estados
                    },
                    beforeSend: function () {
                        {#console.log('buscando');#}
                        municipio.prop('disabled', true);
                    },
                    success: function (data) {
                        {#console.log('acahdo');#}
                        municipio.html(data);
                        {#console.log('inserido');#}
                        municipio.prop('disabled', false);
                        municipio.removeAttr('readonly');
                        callback();
                    }
                });
            }
        });
    </script>
    <script>
        const map = L.map('map').setView([-15.770581215880800000, -47.783767163645700000], 5);
        const latitudeInput = document.getElementById('latitude');
        const longitudeInput = document.getElementById('longitude');// Define a visão inicial do mapa e o nível de zoom

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let marker;

        if (latitudeInput.value && longitudeInput.value) {
            const initialLat = parseFloat(latitudeInput.value);
            const initialLng = parseFloat(longitudeInput.value);
            map.setView([initialLat, initialLng], 13); // Define o centro do mapa com base nos valores iniciais
            marker = L.marker([initialLat, initialLng]).addTo(map);
        }

        map.on('click', (e) => {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        });
    </script>
{% endblock java_script %}