{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <style>
        #map-container {
            height: 600px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 20px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/custom_marker.css' %}">
{% endblock extra_css %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">

                    <div class="modal fade" id="modal-notification-morador" tabindex="-1" role="dialog" aria-labelledby="modal-notification-morador" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-cyan">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="modal-title-notification">Complete o seu cadastro</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                        <span class="modal-icon display-1-lg"><span class="fa fa-id-card"></span></span>
                                        <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                                        <p class="text-white">
                                            Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group float-right">

                                {% if user.morador_usuario %}
                                    {% if botao_cadastro %}
                                        <a href="{% url 'morador_servico_add' %}" type="button" class="btn btn-primary btn-sm">
                                            <span class="fa fa-plus mr-2"></span> Novo Pedido
                                        </a>
                                    {% else %}
                                        <a class="btn btn-secondary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Você já tem um pedido em andamento. Espere o pedido ser finalizado para iniciar um novo.">
                                            <span class="fa fa-ban mr-2"></span> Novo Pedido
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-secondary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Faça o cadastro dos seus dados primeiro.">
                                        <span class="fa fa-ban mr-2"></span> Novo Pedido
                                    </a>
                                    <a class="btn btn-outline-primary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Faça o cadastro dos seus dados primeiro.">
                                        <span class="fa fa-ban mr-2"></span> Meus Pedidos
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        {% include '02_morador/partials/card_lixo.html' %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{% static 'assets/js/plugins/jquery-mask/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/js/mask.js' %}"></script>
    <script src="{% static 'assets/js/custom_marker.js' %}"></script>

    {% include '01_base/partials/mapa.html' with possui_usuario=possui_morador usuario=user.morador_usuario %}
{% endblock java_script %}