{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map-container {
            height: 600px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 20px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock extra_css %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">

                    <div class="modal fade" id="modal-notification-morador" tabindex="-1" role="dialog" aria-labelledby="modal-notification-morador" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-cyan">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="modal-title-notification">Complete o seu cadastro</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                        <span class="modal-icon display-1-lg"><span class="fa fa-id-card"></span></span>
                                        <h2 class="h4 modal-title my-3">Finalize o cadastro das suas informações</h2>
                                        <p class="text-white">
                                            Para ter acesso ao sistema e poder fazer os seus pedidos, complete suas informações no menu "Meus Dados".
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group float-right">

                                {% if user.morador_usuario %}
                                    {% if botao_cadastro %}
                                        <a href="{% url 'morador_servico_add' %}" type="button" class="btn btn-primary btn-sm">
                                            <span class="fa fa-plus mr-2"></span> Novo Pedido
                                        </a>
                                    {% else %}
                                        <a class="btn btn-secondary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Você já tem um pedido em andamento. Espere o pedido ser finalizado para iniciar um novo.">
                                            <span class="fa fa-ban mr-2"></span> Novo Pedido
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-secondary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Faça o cadastro dos seus dados primeiro.">
                                        <span class="fa fa-ban mr-2"></span> Novo Pedido
                                    </a>
                                    <a class="btn btn-outline-primary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Faça o cadastro dos seus dados primeiro.">
                                        <span class="fa fa-ban mr-2"></span> Meus Pedidos
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        {% include '02_morador/partials/card_lixo.html' %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'assets/js/plugins/jquery-mask/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/js/mask.js' %}"></script>

    <script>

        var map = L.map('map').setView([-15.793981618599044, -47.882763814475666], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        {% if not possui_morador %}
            $('#modal-notification-morador').modal('show');
        {% else %}
            const latitudeCasa = parseFloat({{ user.morador_usuario.localizacao.0 }});
            const longitudeCasa = parseFloat({{ user.morador_usuario.localizacao.1}});

            if ('geolocation' in navigator){
                navigator.geolocation.getCurrentPosition( function (position){
                    var voce = L.latLng(position.coords.latitude, position.coords.longitude);

                    L.marker(casa).addTo(map).bindPopup('Sua Residência');
                    L.marker(voce).addTo(map).bindPopup('Você');

                }, function (erro){
                    console.log(erro)
                })
            } else{
                console.log('Não foi possível buscar sua localização')
            }
        {% endif %}

    </script>
{% endblock java_script %}