{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map-container {
            height: 600px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 20px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock extra_css %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group float-right">

                                {% if botao_cadastro %}
                                    <a href="{% url 'morador_servico_add' %}" type="button" class="btn btn-primary btn-sm">
                                        <span class="fa fa-plus mr-2"></span> Novo Pedido
                                    </a>
                                {% else %}

{#                                    <button class="btn btn-secondary btn-sm me-2" style="pointer-events: none;" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">#}
                                    <a class="btn btn-secondary btn-sm me-2" type="button" data-bs-toggle="tooltip" data-placement="left" title="Você já tem um pedido em andamento. Espere o pedido ser finalizado para iniciar um novo.">
                                        <span class="fa fa-ban mr-2"></span> Novo Pedido
                                    </a>
                                {% endif %}
                                <a href="{% url 'morador_servico_list' %}" type="button" class="btn btn-sm btn-outline-primary">Meus Pedidos</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="card border-light shadow-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-4 text-center">
                                            <div class="icon icon-shape icon-md icon-shape-blue rounded">
                                                <span class="fas fa-chart-line"></span>
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div class="d-none d-sm-block">
                                                <h2 class="h5">Lixo Reciclado</h2>
                                                <h3 class="mb-1">345k</h3>
                                            </div>
                                            <small>{{ user.morador_usuario.date_create|date:"M Y" }} - {% now "M Y" %}</small>
                                            <div class="small mt-2">
                                                <span class="fas fa-angle-up text-success"></span>
                                                <span class="text-success font-weight-bold">18.2%</span> Desde o início
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-light shadow-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-4 text-center">
                                            <div class="icon icon-shape icon-md icon-shape-blue rounded">
                                                <span class="fas fa-chart-line"></span>
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div class="d-none d-sm-block">
                                                <h2 class="h5">Pedidos</h2>
                                                <h3 class="mb-1">345k</h3>
                                            </div>
                                            <small>{{ user.morador_usuario.date_create|date:"M Y" }} - {% now "M Y" %}</small>
                                            <div class="small mt-2">
                                                <span class="fas fa-angle-up text-success"></span>
                                                <span class="text-success font-weight-bold">18.2%</span> Desde o início
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-light shadow-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-4 text-center">
                                            <div class="icon icon-shape icon-md icon-shape-blue rounded">
                                                <span class="fas fa-chart-line"></span>
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div class="d-none d-sm-block">
                                                <h2 class="h5">Reputação</h2>
                                                <h3 class="mb-1">345k</h3>
                                            </div>
                                            <small>{{ user.morador_usuario.date_create|date:"M Y" }} - {% now "M Y" %}</small>
                                            <div class="small mt-2">
                                                <span class="fas fa-angle-up text-success"></span>
                                                <span class="text-success font-weight-bold">18.2%</span> Desde o início
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="map-container">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'assets/js/plugins/jquery-mask/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/js/mask.js' %}"></script>

    <script>
        const latitudeCasa = parseFloat({{ user.morador_usuario.localizacao.0 }});
        const longitudeCasa = parseFloat({{ user.morador_usuario.localizacao.1}});

        if ('geolocation' in navigator){
            navigator.geolocation.getCurrentPosition( function (position){

                const map = L.map('map').setView([latitudeCasa, longitudeCasa], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                var casa = L.latLng(latitudeCasa, longitudeCasa);
                var voce = L.latLng(position.coords.latitude, position.coords.longitude);

                L.marker(casa).addTo(map).bindPopup('Sua Residência');
                L.marker(voce).addTo(map).bindPopup('Você');

            }, function (erro){
                console.log(erro)
            })
        } else{
            console.log('Não foi possível buscar sua localização')
        }

    </script>
{% endblock java_script %}