{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

    <style>
        #map-container {
            height: 600px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 20px;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>

{% endblock extra_css %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            <h5>Pedido de Serviço de Reciclagem</h5>
                            <p><strong>Confira</strong> os dados dos materiais recicláveis que você cadastrou e solicite que um <strong>Catador</strong> leve a um centro de reciclagem para você</p>
                        </div>
                    </div>
                    {% include '02_morador/partials/dados_pedido.html' with pedido=object %}
                    <div class="row mt-4">
                        <div class="col-12">
                            {% include '02_morador/partials/itens_pedido.html' with itens=object.itens_ordem_servico.all status=object.status.nome %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div id="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-soft-green">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="modal-title-notification">Pedido Aceito</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                        <span class="modal-icon display-1-lg"><span class="far fa-check-circle"></span></span>
                                        <h2 class="h4 modal-title my-3">Seu pedido foi aceito </h2>
                                        <p class="text-white">
                                            O seu pedido foi aceito pelo Catador! Espere na sua residência até ele chegar e entregue os itens combinados.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
<script>
    const latitudePedido = parseFloat({{ object.morador.localizacao.0 }});
    const longitudePedido = parseFloat({{ object.morador.localizacao.1}});

    if ('geolocation' in navigator){
        navigator.geolocation.getCurrentPosition( function (position){

            const map = L.map('map').setView([latitudePedido, longitudePedido], 5);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var voce = L.latLng(position.coords.latitude, position.coords.longitude);
            var destino = L.latLng(latitudePedido, longitudePedido);

            L.marker(voce).addTo(map).bindTooltip('Você', { permanent: true, className: 'custom-tooltip' });
            L.marker(destino).addTo(map).bindTooltip('Sua Casa', { permanent: true, className: 'custom-tooltip' });

            var router = L.Routing.control({
                waypoints: [voce, destino],
                lineOptions: {
                    styles: [{ color: 'blue', opacity: 0.6, weight: 6 }]
                },
                addWaypoints: false,
                draggableWaypoints: false,
            }).addTo(map)

        }, function (erro){
            console.log(erro)
        })
    } else{
        console.log('Não foi possível buscar sua localização')
    }

    setTimeout(
        function() {
            $('.leaflet-routing-alt').find('table').slideUp();
    }, 450)

    {% if object.status.nome == 'PEDIDO ACEITO' %}
        $('#modal-notification').modal('show');
    {% endif %}
</script>

{% endblock java_script %}