{% extends '02_morador/base.html' %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            <h5>Pedidos de Serviço de Reciclagem</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'morador_servico_add' %}" type="button" class="btn btn-primary float-right">
                                <span class="fa fa-plus"></span> Novo Pedido
                            </a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap m-0 rounded">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="border-0">Pedido Nº</th>
                                            <th class="border-0">Peso</th>
                                            <th class="border-0">Data Inicio</th>
                                            <th class="border-0 text-center">Status</th>
                                            <th class="border-0 text-center">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pedido in object_list %}
                                            <tr>
                                                <td>{{ pedido.id }}</td>
                                                <td>{{ pedido.itens_ordem_servico.count }}</td>
                                                <td>{{ pedido.data_criada }}</td>
                                                <td class="text-center"><span class="badge badge-md bg-secondary">{{ pedido.status.nome }}</span></td>
                                                <td class="text-center">
                                                    <a href="{% url 'morador_servico_item_add' pedido.id %}" class="btn btn-sm btn-primary" type="button">
                                                        <span class="far fa-paper-plane mr-2"></span>Ver Mais
                                                    </a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4" class="table-secondary">
                                                    <h5 class="text-center text-muted mt-2">Nenhum pedido Realizado</h5>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
{% endblock java_script %}