{% extends '03_catador/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>


<style>
    #map-container {
        height: 600px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 20px;
    }

    #map {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock extra_css %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    {% if object.status.nome == 'BUSCANDO PEDIDO' %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'catador_pedido_receber' object.id %}" class="btn btn-primary float-right">
                                <span class="fa fa-truck-loading"></span> Receber Pedido
                            </a>
                        </div>
                    </div>
                    {% elif object.status.nome == 'PEDIDO ACEITO' %}
                    <div class="row">
                        <div class="col">
                            <a href="" class="btn btn-primary float-right">
                                <span class="fa fa-check-circle"></span> Entregar Pedido
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    {% include '02_morador/partials/dados_pedido.html' with pedido=object %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {% include '02_morador/partials/itens_pedido.html' with itens=object.itens_ordem_servico.all %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div id="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>

                    {% if object.status.nome == 'BUSCANDO PEDIDO' %}
                    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-soft-green">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="modal-title-notification">Pedido Aceito</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                        <span class="modal-icon display-1-lg"><span class="far fa-check-circle"></span></span>
                                        <h2 class="h4 modal-title my-3">O pedido foi registrado</h2>
                                        <p class="text-white">
                                            Dirija-se a residência do morador para recolher os itens recicláveis.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif object.status.nome == 'PEDIDO ACEITO' %}
                    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-cyan">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="modal-title-notification">Pedido Aceito</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                        <span class="modal-icon display-1-lg"><span class="far fa-check-circle"></span></span>
                                        <h2 class="h4 modal-title my-3">O pedido foi aceito</h2>
                                        <p class="text-white">
                                            Entregue os itens no centro de coleta mais próximo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block java_script %}
<script>
    const latitudePedido = parseFloat({{ object.morador.localizacao.0 }});
    const longitudePedido = parseFloat({{ object.morador.localizacao.1}});

    const map = L.map('map').setView([latitudePedido, longitudePedido], 5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    function atualiza_posicao(latitude, longitude) {
        $.ajax({
            url: '{% url 'ajax_calcula_rota' %}',
            data: {
                'latitude': latitude,
                'longitude': longitude,
            },
            beforeSend: function () {
                console.log('buscando posicao');
            },
            success: function (data) {
                console.log('posicao ok');
                console.log(data);
                {#municipio.html(data);#}
                {#callback();#}
            }
        });
    }

    if ('geolocation' in navigator){
        navigator.geolocation.getCurrentPosition( function (position){

            var voce = L.latLng(position.coords.latitude, position.coords.longitude);
            L.marker(voce).addTo(map).bindTooltip('Você', { permanent: true, className: 'custom-tooltip' });

            atualiza_posicao(position.coords.latitude, position.coords.longitude)
            {#var destino = L.latLng(latitudePedido, longitudePedido);#}
            {#L.marker(destino).addTo(map).bindTooltip('Morador', { permanent: true, className: 'custom-tooltip' });#}

            var router = L.Routing.control({
                waypoints: [voce, destino],
                lineOptions: {
                    styles: [{ color: 'blue', opacity: 0.6, weight: 6 }]
                },
                addWaypoints: false,
                draggableWaypoints: false,
            }).addTo(map)

        }, function (erro){
            console.log(erro)
        })
    } else{
        console.log('Não foi possível buscar sua localização')
    }

    {% if object.status.nome == 'PEDIDO ACEITO' %}
        $('#modal-notification').modal('show');
    {% endif %}

</script>
{% endblock java_script %}
