{% extends '03_catador/base.html' %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    {% include '02_morador/partials/dados_pedido.html' with pedido=object %}
                    <div class="row mt-4">
                        <div class="col">
                            <span class="badge bg-warning text-dark d-block pt-2 pb-2" style="font-size: large">
                                Selecione os itens que foram separados de forma correta e que estão prontos para serem reciclados.
                            </span>
                        </div>
                    </div>
                    {% include '01_base/partials/erros.html' with errors=form.errors %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {% include '03_catador/partials/table_item.html' with ordem=object %}
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mt-4">
                            <div class="col">
                                <input type="hidden" value="4" name="status">
                                <button type="submit" class="btn btn-primary btn-lg float-right {% if not btn_finalizar %}disabled{% endif %}">
                                    <span class="fa fa-check-circle"></span> Finalizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock main %}
{% block java_script %}

{% endblock java_script %}
